body {
  background-color: rgb(242, 241, 238);
}
.ToDo.completed {
  text-decoration: line-through;
  background-color: rgb(188, 187, 187);
}

.ToDoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-bottom: 50px;

  background-color: rgb(101, 111, 77);
  color: #f0e9e6;
  
  border-radius: 25px 25px;
  box-shadow: 2px 3px 6px rgb(78, 48, 34);
}

.ToDoWrapper h1 {
  font-family: "Merriweather", serif;
}

.ToDo {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-wrap: wrap;

  font-family: "Merriweather", serif;
  font-size: 20px;
  width: 400px;
  background-color: rgb(248, 245, 240);
  color: #372a23;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 25px 25px;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 5dvh;
  box-shadow: 2px 3px 3px rgb(78, 48, 34);
  
  
}

.ToDo p {
  width: 300px;
  padding-right: 10px;
  overflow: auto;

}

.Icons {
  display: flex;
  margin-left: auto;
  flex-wrap: nowrap;
}

.Icons .Icon {
  margin-right: 10px;
}

.ToDoForm {
  display: flex;
  flex-wrap: nowrap;
}

.ToDoForm input {
  font-family: "Merriweather", serif;
  font-size: 16px;
  justify-content: center;
  border-radius: 25px 25px;
  width: 300px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.todo-btn {
  font-family: "Merriweather", serif;
  font-size: 16px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px 25px;
  background-color: #e8dfda;
}